In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('req_file2.csv')

In [4]:
df['label'].value_counts()

windows     8395
linux       2479
multiple    2191
asp         1513
hardware    1244
cgi          746
Name: label, dtype: int64

In [5]:
dicti = {'windows' : 0,'linux':1,'multiple':2,'asp':3,'hardware':4,'cgi':5}

In [11]:
df[:5]

   Unnamed: 0 label                                               docs
0           0   asp  **********************************************...
1           1   asp  source: http://www.securityfocus.com/bid/14217...
2           2   asp  source: http://www.securityfocus.com/bid/16771...
3           3   asp  source: http://www.securityfocus.com/bid/45588...
4           4   asp  # Source: http://blog.mindedsecurity.com/2010/...

In [9]:
num_class = []
for inde,row in df.iterrows():
    num_class.append(dicti[row['label']])

In [12]:
len(num_class)

16568

In [13]:
df2 = pd.DataFrame()
df2['label'] = num_class
df2['docs'] = df['docs']
df2.to_csv('req_file_numeric.csv')

In [1]:
import pandas as pd
df = pd.read_csv('req_file2_numeric.csv')

In [3]:
df['label'].value_counts()

0    8395
1    2479
2    2191
3    1513
4    1244
5     746
Name: label, dtype: int64